.embed-container-home {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0pt 0pt 12pt 10pt #111;
}

.embed-container-home iframe,
.embed-container-home object,
.embed-container-home embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
