@media screen and (min-width: 1536px) {
  .tool {
    width: 3rem;
  }

  .modal-description {
    height: 15.1rem;
    font-size: 1rem;
  }

  .modal-year-text {
    top: 63%;
    font-size: 1rem;
  }

  .modal-roles {
    top: 73%;
    font-size: 1.1rem;
  }

  .modal-tools {
    width: 24%;
    top: 73%;
    font-size: 1.1rem;
  }

  .modal-available-text {
    font-size: 1rem;
  }

  .modal-left .modal-video {
    margin-left: 4.4rem;
  }
}
