@media screen and (max-width: 700px) {
  #description-title {
    padding-top: 10rem;
  }

  .modal-year-text {
    padding-top: 8rem;
    font-size: 1.1rem;
    top: 69%;
  }

  .modal-left .modal-video {
    margin-left: 3.2rem;
  }

  .modal-roles {
    padding-top: 8rem;
    top: 82%;
    width: 34%;
    left: 33%;
    font-size: 1.1rem;
  }

  .modal-tools {
    padding-top: 8rem;
    top: 116%;
    width: 34%;
    left: 33%;
    padding-bottom: 2rem;
    font-size: 1.1rem;
  }

  .tool {
    width: 3rem;
  }

  .modal-available-text {
    font-size: 1.1rem;
  }

  .modal-button {
    font-size: 1rem;
  }
}
